.app.dark {
    --bg-color: #0D0F1D;
    --inverted-bg-color: #d8d8db;

    --primary-color: #00FF41;
    --secondary-color: #008F11;

    --inverted-primary-color: #0f0093;
    --inverted-secondary-color: #0007d6;
}