.app.light {
    --bg-color: #d8d8db;
    --inverted-bg-color: #0D0F1D;

    --primary-color: #0f0093;
    --secondary-color: #0007d6;

    --inverted-primary-color: #00FF41;
    --inverted-secondary-color: #008F11;
}